<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euro 2024 - KH</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>

    </style>
</head>

<body style="background-color: whitesmoke">
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background: whitesmoke; box-shadow: 0px 0px 15px #000000;">
    <div class="container-fluid" style="max-width: 1280px;">
      <div class="navbar-brand">
        <img src="https://kimhoang.tech/logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
        Euro 2024 - By Kim Hoang
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/matches">Matches</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
    <div 
      style="background-image: url(https://i.ytimg.com/vi/xro8GuW9-pY/maxresdefault.jpg);
      height: 50vh;
      background-size: contain;
      position: absolute;
      width: 100%;
      z-index: -1;"
    ></div>
    <div id="content" style="padding: 2rem; padding-top: 20vh; ">
        {% block content %}{% endblock %}
    </div>
</body>

</html>