{% extends "base.html" %}

{% block content %}
<div class="container text-center" style="background: #423F3E; padding: 2rem 2rem 2rem 2rem; border-radius: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div style="width: 100%; overflow-x: scroll;">
    <div class="row" style="margin-bottom: 1.5rem; min-width: 945px; width: 100%;">
        <div class="col">
            <p style="border-top: solid 0.5px #a0a0a0; padding-top: 0.5rem; color: #a0a0a0">ROUND OF 16</p>
        </div>
        <div class="col">
            <p style="border-top: solid 0.5px #a0a0a0; padding-top: 0.5rem; color: #a0a0a0">QUARTER FINALS</p>
        </div>
        <div class="col">
            <p style="border-top: solid 0.5px #a0a0a0; padding-top: 0.5rem; color: #a0a0a0">SEMI FINALS</p>
        </div>
        <div class="col">
            <p style="border-top: solid 0.5px #a0a0a0; padding-top: 0.5rem; color: #a0a0a0">FINALS</p>
        </div>
    </div>
    <div class="row" style="min-width: 945px; width: 100%;">
        <div class="col" style="display: grid">
            {% for match in round16 %}
                <div style="margin-bottom: 1rem; align-content: center;">
                    <a href="/matches/{{match.id}}" style="all: unset;">
                        <div class="match-tag">
                            <p style="font-size: 13px;">{{match.kickOffTime.timeBraket}}</p>
                            <div style="display: flex; align-items: center; margin-bottom: 0.25rem; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="{{match.homeTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                    <span style="margin-left: 10px; font-size: medium;";>{{ match.homeTeam.internationalName }}</span>
                                </div> 
                                <div style="display: flex; align-items: center;">
                                    {% if match.score.penalty %}
                                        <span style="font-weight: 100">({{match.score.penalty.home}}) <b>{{match.score.total.home}}</b></span>  
                                    {% else %}
                                        <span>{{match.score.total.home}}</span>
                                    {% endif %}
                                </div> 
                            </div> 
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="{{match.awayTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                    <span style="margin-left: 10px; font-size: large;">{{ match.awayTeam.internationalName }}</span> 
                                </div> 
                                <div style="display: flex; align-items: center;">
                                    {% if match.score.penalty %}
                                        <span style="font-weight: 100">({{match.score.penalty.away}}) <b>{{match.score.total.away}}</b></span> 
                                    {% else %}
                                        <span style="margin-bottom: 0">{{match.score.total.away}}</span>
                                    {% endif %}
                                </div> 
                            </div>  
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col" style="display: grid">
            {% for match in quarter %}
                <div style="margin-bottom: 1rem; align-content: center; position: relative;">
                    <div class="braket-line"><div class="braket-line-row"></div><div class="braket-line-col"></div></div>
                    <a href="/matches/{{match.id}}" style="all: unset;">

                    <div class="match-tag">
                        <p style="font-size: 13px;">{{match.kickOffTime.timeBraket}}</p>
                        <div style="display: flex; align-items: center; margin-bottom: 0.25rem; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{match.homeTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                <span style="margin-left: 10px; font-size: medium;";>{{ match.homeTeam.internationalName }}</span>
                            </div> 
                            <div style="display: flex; align-items: center;">
                                {% if match.score.penalty %}
                                    <span style="font-weight: 100">({{match.score.penalty.home}}) <b>{{match.score.total.home}}</b></span>  
                                {% else %}
                                    <span>{{match.score.total.home}}</span>
                                {% endif %}
                            </div> 
                        </div> 
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{match.awayTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                <span style="margin-left: 10px; font-size: large;">{{ match.awayTeam.internationalName }}</span> 
                            </div> 
                            <div style="display: flex; align-items: center;">
                                {% if match.score.penalty %}
                                    <span style="font-weight: 100">({{match.score.penalty.away}}) <b>{{match.score.total.away}}</b></span> 
                                {% else %}
                                    <span style="margin-bottom: 0">{{match.score.total.away}}</span>
                                {% endif %}
                            </div> 
                        </div>  
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
        <div class="col" style="display: grid">
            {% for match in semi %}
                <div style="margin-bottom: 1rem; align-content: center; position: relative;">
                    <div class="braket-line"><div class="braket-line-row"></div><div class="braket-line-col"></div></div>
                    <a href="/matches/{{match.id}}" style="all: unset;">

                    <div class="match-tag">
                        <p style="font-size: 13px;">{{match.kickOffTime.timeBraket}}</p>
                        <div style="display: flex; align-items: center; margin-bottom: 0.25rem; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{match.homeTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                <span style="margin-left: 10px; font-size: medium;";>{{ match.homeTeam.internationalName }}</span>
                            </div> 
                            <div style="display: flex; align-items: center;">
                                {% if match.score.penalty %}
                                    <span style="font-weight: 100">({{match.score.penalty.home}}) <b>{{match.score.total.home}}</b></span>  
                                {% else %}
                                    <span>{{match.score.total.home}}</span>
                                {% endif %}
                            </div> 
                        </div> 
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{match.awayTeam.logoUrl}}" style="height: 1rem" alt="logo">
                                <span style="margin-left: 10px; font-size: large;">{{ match.awayTeam.internationalName }}</span> 
                            </div> 
                            <div style="display: flex; align-items: center;">
                                {% if match.score.penalty %}
                                    <span style="font-weight: 100">({{match.score.penalty.away}}) <b>{{match.score.total.away}}</b></span> 
                                {% else %}
                                    <span style="margin-bottom: 0">{{match.score.total.away}}</span>
                                {% endif %}
                            </div> 
                        </div> 
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
        <div class="col" style="display: grid">
            <div style="margin-bottom: 1rem; align-content: center; position: relative;">
                <div class="braket-line"><div class="braket-line-row"></div><div class="braket-line-col"></div></div>
                <a href="/matches/{{final.id}}" style="all: unset;">

                <div class="match-tag" style="position: relative;">
                    <div style="
                        position: absolute;
                        left: calc(50% - 40px);
                        bottom: 110%;
                    ">
                        <img loading="lazy" src="https://img.uefa.com/imgml/uefacom/euro2024/trophy/trophy_small.png?imwidth=700">
                    </div>
                    <p style="font-size: 15px; ">{{final.kickOffTime.timeBraket}}</p>
                    <div style="display: flex; align-items: center; margin-bottom: 0.25rem; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <img src="{{final.homeTeam.logoUrl}}" style="height: 1.5rem" alt="logo">
                            <span style="margin-left: 10px; font-size: large;";>{{ final.homeTeam.internationalName }}</span>
                        </div> 
                        <div style="display: flex; align-items: center;">
                            {% if final.score.penalty %}
                                <span style="font-weight: 100">({{final.score.penalty.home}}) <b>{{final.score.total.home}}</b></span>  
                            {% else %}
                                <span>{{final.score.total.home}}</span>
                            {% endif %}
                        </div> 
                    </div> 
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <img src="{{final.awayTeam.logoUrl}}" style="height: 1.5rem" alt="logo">
                        <span style="margin-left: 10px; font-size: large;">{{ final.awayTeam.internationalName }}</span>
                        </div> 
                        <div style="display: flex; align-items: center;">
                            {% if final.score.penalty %}
                                <span style="font-weight: 100">({{final.score.penalty.away}}) <b>{{final.score.total.away}}</b></span> 
                            {% else %}
                                <span style="margin-bottom: 0">{{final.score.total.away}}</span>
                            {% endif %}
                        </div> 
                    </div> 

                </div>
            </a>
            </div>
        </div>
    </div>
    </div>
    <div style="border-top: solid 1px grey; margin: 3rem 0 3rem 0"></div>
    <div class="row">
        {% for match in matches %}
                <div class="col-xl-6 col-md-12 col-12">
                    <div class="card" style="margin: 2rem 0 0 0; border-radius: 0px; background: #cacaca42;">
                        <a href="/matches/{{match.id}}" style="all: unset;">
                        <div class="card-body">
                            <p style="text-align: left;">{{ match.round.metaData.name}}</p>
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <div style="display: flex; align-items: center; margin-bottom: 1rem">
                                        <img src="{{match.homeTeam.logoUrl}}" style="height: 2.5rem" alt="logo">
                                        <span style="margin-left: 10px; font-size: xx-large;";>{{ match.homeTeam.internationalName }}</span>
                                        {% if match.status == 'LIVE' or match.status == 'FINISHED' %}
                                            {% if match.homeTeam.redCard %}
                                                <div style="background: red; border-radius: 4px; height: 35px; width: 25px; margin-left: 0.75rem"></div>
                                            {% endif %} 
                                        {% endif %} 
                                    </div>  
                                    <div style="display: flex; align-items: center;">
                                        <img src="{{match.awayTeam.logoUrl}}" style="height: 2.5rem" alt="logo">
                                        <span style="margin-left: 10px; font-size: xx-large;">{{ match.awayTeam.internationalName }}</span>
                                        {% if match.status == 'LIVE' or match.status == 'FINISHED' %}
                                            {% if match.awayTeam.redCard %}
                                                <div style="background: red; border-radius: 4px; height: 35px; width: 25px; margin-left: 0.75rem"></div>
                                            {% endif %} 
                                        {% endif %} 
                                    </div>  
                                </div>
                                <div style="display: flex">
                                    {% if match.status == 'LIVE' %}
                                    <div style="background: #ffcd44; padding: 0.5rem; border-radius: 0.25rem; display: grid; font-size: x-large; font-weight: 700; align-items: center; margin-right: 2rem">
                                        {% if match.score.penalty %}
                                            <p><span style="font-weight: 100">({{match.score.penalty.home}})</span>  {{match.score.total.home}} </p>
                                            <p style="margin-bottom: 0"><span style="font-weight: 100">({{match.score.penalty.away}})</span> {{match.score.total.away}}</p>
                                        {% else %}
                                            <p>{{match.score.total.home}}</p>
                                            <p style="margin-bottom: 0">{{match.score.total.away}}</p>
                                        {% endif %}
                                    </div>
                                    {% elif match.status == 'FINISHED' %}
                                    <div style="background: transparent; padding: 0.5rem; border-radius: 0.25rem; display: grid; font-size: x-large; font-weight: 700; align-items: center; margin-right: 2rem">
                                        {% if match.score.penalty %}
                                            <p><span style="font-weight: 100">({{match.score.penalty.home}})</span>  {{match.score.total.home}} </p>
                                            <p style="margin-bottom: 0"><span style="font-weight: 100">({{match.score.penalty.away}})</span> {{match.score.total.away}}</p>
                                        {% else %}
                                            <p>{{match.score.total.home}}</p>
                                            <p style="margin-bottom: 0">{{match.score.total.away}}</p>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                        
                                    {% endif %} 

                                    <div style="width: 11rem; border-left: solid 1px grey; padding-left: 2rem; padding-right: 2rem; align-content: center; display: grid;
                                    justify-content: center;">
                                        {% if match.status == 'LIVE' %}
                                            {% if match.phase == 'HALF_TIME_BREAK' %}
                                                <p style="color: grey">Half-time</p>
                                            {% else %}
                                                {% if match.minute.injury %}
                                                    <p style="color: green">{{match.minute.normal}}'+{{match.minute.injury}}'</p>
                                                {% else %}
                                                    <p style="color: green">{{match.minute.normal}}'</p>
                                                {% endif %} 
                                            {% endif %} 
                                           
                                            <div style="background: #ffcd44; padding: 0.5rem; border-radius: 0.25rem; display: flex; align-items: center; ">
                                                <div  class="live-dot" style="width: 10px; height: 10px; background: red; border-radius: 5px"></div>
                                                &nbsp;LIVE
                                            </div>
                                        {% elif match.status == 'UPCOMING' %}
                                            <p style="font-size: large; font-weight: 200; margin-bottom: 0">{{ match.kickOffTime.dateTime}}</p>
                                            <p style="font-size: xx-large; font-weight: 600;">{{ match.kickOffTime.time}}</p>
                                        {% elif match.status == 'FINISHED' %}
                                            <p style="font-size: large; font-weight: 200; margin-bottom: 0">Full time</p>
                                            <p style="font-size: large; font-weight: 600;">{{ match.kickOffTime.dateTime}}</p>
                                        {% endif %} 
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
</div>

{% endblock %}