{% extends "base.html" %}

{% block content %}
    <div class="container text-center" style="background: whitesmoke; padding: 0 2rem 2rem 2rem; border-radius: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div style="display: flex; padding-top: 2rem">
            <select id="status_slb" class="form-select" aria-label="status">
                <option value="all">Trạng thái thi đấu</option>
                <option value="FINISHED">Đã thi đấu</option>
                <option value="UPCOMING">Chưa thi đấu</option>
                <option value="LIVE">Đang thi đấu</option>
            </select>
            <select id="groups_slb" class="form-select" aria-label="groups">
                <option value="all">Bảng</option>
                {% for group in groups %}
                    <option value="{{group.group.id}}">
                        {{group.group.metaData.groupName}}
                    </option>
                {% endfor %}
            </select>
            <select id="teams_slb" class="form-select" aria-label="teams">
                <option value="all">Đội</option>
                {% for team in teams %}
                    <option value="{{team.id}}">
                        {{team.emojiCode}} {{team.internationalName}}
                    </option>
                {% endfor %}
            </select>
            <button style="margin-right: 1rem" onclick="search()" class="btn btn-primary">Search</button>
            <button onclick="searchTime()" class="btn btn-success">Today</button>
        </div>
        <div class="row">
            {% for match in matches %}
                <div class="match-info col-xl-6 col-md-12 col-12" data-date="{{match.kickOffTime.date}}" data-status="{{match.status}}" data-group="{{match.group.id}}" data-teamHome="{{match.homeTeam.id}}" data-teamAway="{{match.awayTeam.id}}">
                    <div class="card" style="margin: 2rem 0 0 0; border-radius: 0px">
                        <a href="/matches/{{match.id}}" style="all: unset;">
                            <div class="card-body">
                                <p style="text-align: left; color: grey">{{ match.group.metaData.groupName}}</p>
                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <div style="display: flex; align-items: center; margin-bottom: 1rem">
                                            <img src="{{match.homeTeam.logoUrl}}" style="height: 2.5rem" alt="logo">
                                            <span style="margin-left: 10px; font-size: xx-large;";>{{ match.homeTeam.internationalName }}</span>
                                            {% if match.status == 'LIVE' or match.status == 'FINISHED' %}
                                                {% if match.homeTeam.redCard %}
                                                    <div style="background: red; border-radius: 4px; height: 35px; width: 25px; margin-left: 0.75rem"></div>
                                                {% endif %} 
                                            {% endif %} 
                                        </div>  
                                        <div style="display: flex; align-items: center;">
                                            <img src="{{match.awayTeam.logoUrl}}" style="height: 2.5rem" alt="logo">
                                            <span style="margin-left: 10px; font-size: xx-large;">{{ match.awayTeam.internationalName }}</span>
                                            {% if match.status == 'LIVE' or match.status == 'FINISHED' %}
                                                {% if match.awayTeam.redCard %}
                                                    <div style="background: red; border-radius: 4px; height: 35px; width: 25px; margin-left: 0.75rem"></div>
                                                {% endif %} 
                                            {% endif %} 
                                        </div>  
                                    </div>
                                    <div style="display: flex">
                                        {% if match.status == 'LIVE' %}
                                        <div style="background: #ffcd44; padding: 0.5rem; border-radius: 0.25rem; display: grid; font-size: x-large; font-weight: 700; align-items: center; margin-right: 2rem">
                                            <p>{{match.score.regular.home}}</p>
                                            <p style="margin-bottom: 0">{{match.score.regular.away}}</p>
                                        </div>
                                        {% elif match.status == 'FINISHED' %}
                                        <div style="background: transparent; padding: 0.5rem; border-radius: 0.25rem; display: grid; font-size: x-large; font-weight: 700; align-items: center; margin-right: 2rem">
                                            <p>{{match.score.regular.home}}</p>
                                            <p style="margin-bottom: 0">{{match.score.regular.away}}</p>
                                        </div>
                                        {% else %}
                                            
                                        {% endif %} 
    
                                        <div style="width: 11rem; border-left: solid 1px grey; padding-left: 2rem; padding-right: 2rem; align-content: center; display: grid;
                                        justify-content: center;">
                                            {% if match.status == 'LIVE' %}
                                                {% if match.phase == 'HALF_TIME_BREAK' %}
                                                    <p style="color: grey">Half-time</p>
                                                {% else %}
                                                    {% if match.minute.injury %}
                                                        <p style="color: green">{{match.minute.normal}}'+{{match.minute.injury}}'</p>
                                                    {% else %}
                                                        <p style="color: green">{{match.minute.normal}}'</p>
                                                    {% endif %} 
                                                {% endif %} 
                                               
                                                <div style="background: #ffcd44; padding: 0.5rem; border-radius: 0.25rem; display: flex; align-items: center; ">
                                                    <div  class="live-dot" style="width: 10px; height: 10px; background: red; border-radius: 5px"></div>
                                                    &nbsp;LIVE
                                                </div>
                                            {% elif match.status == 'UPCOMING' %}
                                                    <p style="font-size: large; font-weight: 200; margin-bottom: 0">{{ match.kickOffTime.dateTime}}</p>
                                                {% if match.lineupStatus == 'TACTICAL_AVAILABLE' %}
                                                    <div style="background: #ffcd44; padding: 0.5rem; border-radius: 0.25rem;">
                                                        Line-ups
                                                    </div>
                                                {% elif match.lineupStatus == 'NOT_AVAILABLE' %}
                                                    <p style="font-size: xx-large; font-weight: 600;">{{ match.kickOffTime.time}}</p>
                                                {% else %}
                                                    
                                                {% endif %}     
                                            {% elif match.status == 'FINISHED' %}
                                                <p style="font-size: large; font-weight: 200; margin-bottom: 0">Full time</p>
                                                <p style="font-size: large; font-weight: 600;">{{ match.kickOffTime.dateTime}}</p>
                                            {% endif %} 
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </a>
                     
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function search() {
            var status = document.getElementById("status_slb").value;
            var groups = document.getElementById("groups_slb").value;
            var teams = document.getElementById("teams_slb").value;

            var lst_matches = document.getElementsByClassName("match-info");
            Array.prototype.forEach.call(lst_matches, function(elem) {
                match_status = elem.getAttribute('data-status');
                match_group = elem.getAttribute('data-group');
                match_teamHome = elem.getAttribute('data-teamHome');
                match_awayTeam = elem.getAttribute("data-teamAway");

                var hidden = true;
                if (status != "all") {
                    if (match_status != status){
                        hidden = false;
                    }
                }

                if (groups != "all") {
                    if (match_group != groups){
                        hidden = false;
                    }
                }

                if (teams != "all") {
                    if (match_teamHome != teams && match_awayTeam != teams){
                        hidden = false;
                    }
                }

                if (hidden){
                    elem.classList.remove("d-none");
                } else {
                    elem.classList.add("d-none");
                }
            });
        };

        function searchTime() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // getMonth() returns month from 0-11
            const day = String(today.getDate()).padStart(2, '0');
            var date = `${year}-${month}-${day}`;

            var lst_matches = document.getElementsByClassName("match-info");
            Array.prototype.forEach.call(lst_matches, function(elem) {
                
                var match_date =  elem.getAttribute("data-date");
                if (match_date != date) {
                    if (!elem.classList.contains("d-none")) {
                        elem.classList.add("d-none");
                    }
                }
            });
        };
    </script>
{% endblock %}