{% extends "base.html" %}

{% block content %}
    {% load mathfilters %}

    <div class="container text-center" style="background: whitesmoke; padding: 0 2rem 2rem 2rem; border-radius: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            <div class="col-4">
                <h3 style="text-align: left; margin-top: 1rem">Line-ups</h3>
                <div>
                    <div style="display: flex; align-items: center; background: #518a58; padding: 0.5rem">
                        <img src="{{lineup.homeTeam.team.logoUrl}}" style="height: 3rem" alt="logo">
                        <div style="text-align: left; color: #ffffff">
                            <p style="margin-left: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.homeTeam.team.internationalName }}</p>
                            <p style="margin-left: 10px; font-size: medium;  margin-bottom: 0; font-weight: 100";>Coach: 
                                {% with first_coach=lineup.homeTeam.coaches|first %}
                                    {{ first_coach.person.translations.name.EN }}
                                {% endwith %}
                            </p>
                        </div>
                    </div>  
                    <div style="background: url(https://img.uefa.com/imgml/uefacom/euro2020/lineups/pitch-bg.svg); background-size: cover; position: relative">
                        <img src="https://img.uefa.com/imgml/uefacom/euro2020/lineups/pitch-bg.svg" style="visibility: hidden; width: 100%" />
                        <div style="display: grid; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                            <div style="position: relative;">
                                {% for player in lineup.homeTeam.field %}
                                    <div style="position: absolute; top:{{ player.fieldCoordinate.y|div:10 }}%; left:{{ player.fieldCoordinate.x|div:10 }}%; transform: translate(-50%, 0%);">
                                        <img src="{{lineup.homeTeam.kitImageUrl}}" style="height: 1.75rem">
                                        <p style="font-size: small; color: white; margin-bottom: 0; text-shadow: 1px 1px 5px #000000 ">{{player.player.nationalShirtName}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="position: relative">
                                {% for player in lineup.awayTeam.field %}
                                    <div style="position: absolute; top:{{1000|sub:player.fieldCoordinate.y|div:10}}%; left:{{1000|sub:player.fieldCoordinate.x|div:10}}%; transform: translate(-50%, -100%);">
                                        <img src="{{lineup.awayTeam.kitImageUrl}}" style="height: 1.75rem">
                                        <p style="font-size: small; color: white; margin-bottom: 0; text-shadow: 1px 1px 5px #000000 ">{{player.player.nationalShirtName}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; background: #518a58; padding: 0.5rem; justify-content: flex-end;">
                        <div style="text-align: right; color: #ffffff">
                            <p style="margin-right: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.awayTeam.team.internationalName }}</p>
                            <p style="margin-right: 10px; font-size: medium;  margin-bottom: 0; font-weight: 100";>Coach: 
                                {% with first_coach=lineup.awayTeam.coaches|first %}
                                    {{ first_coach.person.translations.name.EN }}
                                {% endwith %}
                            </p>
                        </div>
                        <img src="{{lineup.awayTeam.team.logoUrl}}" style="height: 3rem" alt="logo">
                    </div> 
                </div>
            </div>
            <div class="col-4">
                <h3 style="text-align: left; margin-top: 1rem">Substitutions</h3>
                <div>
                   
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}