{% extends "base.html" %}

{% block content %}
    {% load mathfilters %}

    <div class="container text-center" style="background: #423F3E; padding: 0 2rem 2rem 2rem; border-radius: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            {% if lineup.lineupStatus == 'TACTICAL_AVAILABLE' %}
            <div class="col-xl-4 col-md-12 col-12">
                <h3 style="text-align: left; margin-top: 1rem">Line-ups</h3>
                <div>
                    <div style="display: flex; align-items: center; background: #518a58; padding: 0.5rem">
                        <img src="{{lineup.homeTeam.team.logoUrl}}" style="height: 3rem" alt="logo">
                        <div style="text-align: left; color: #ffffff">
                            <p style="margin-left: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.homeTeam.team.internationalName }}</p>
                            <p style="margin-left: 10px; font-size: medium;  margin-bottom: 0; font-weight: 100";>Coach: 
                                {% with first_coach=lineup.homeTeam.coaches|first %}
                                    {{ first_coach.person.translations.name.EN }}
                                {% endwith %}
                            </p>
                        </div>
                    </div>  
                    <div style="background: url(https://img.uefa.com/imgml/uefacom/euro2020/lineups/pitch-bg.svg); background-size: cover; position: relative">
                        <img src="https://img.uefa.com/imgml/uefacom/euro2020/lineups/pitch-bg.svg" style="visibility: hidden; width: 100%" />
                        <div style="display: grid; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                            <div style="position: relative;">
                                {% for player in lineup.homeTeam.field %}
                                    <div data-bs-toggle="tooltip" title="<div class='img-tool'><img src='{{player.player.imageUrl}}' alt='Image' width='100' height='100'><br>Name: {{player.player.internationalName}}<br>Position: {{player.player.fieldPosition|title}} {{player.player.detailedFieldPosition|title}}<br>Age: {{player.player.age}}</div>" data-bs-placement="right" data-bs-html="true" style="position: absolute; top:{{ player.fieldCoordinate.y|div:10 }}%; left:{{ player.fieldCoordinate.x|div:10 }}%; transform: translate(-50%, -10%);">
                                        <div data-goal="0" data-card="0" id="player_{{player.player.id}}" style="position: relative; width: max-content; margin: auto;">
                                            <img src="{{lineup.homeTeam.kitImageUrl}}" style="height: 1.75rem">
                                            <p style="color: {{ lineup.homeTeam.textColor }}; margin-bottom: 0; position: absolute; top: 20%; left: 50%; transform: translate(-50%); font-size: 13px; font-weight: 600;  text-shadow: 1px 0 {{ lineup.homeTeam.shirtColor }}, -1px 0 {{ lineup.homeTeam.shirtColor }}, 0 1px {{ lineup.homeTeam.shirtColor }}, 0 -1px {{ lineup.homeTeam.shirtColor }}, 1px 1px {{ lineup.homeTeam.shirtColor }}, -1px -1px {{ lineup.homeTeam.shirtColor }}, 1px -1px {{ lineup.homeTeam.shirtColor }}, -1px 1px {{ lineup.homeTeam.shirtColor }}; ">{{player.jerseyNumber}}</p>
                                            {% if player.type == "CAPTAIN" or player.type == "GOALKEEPER_CAPTAIN" %}
                                                <div class="captain"></div>
                                            {% endif %}
                                        </div>
                                        <p style="font-size: small; color: white; margin-bottom: 0; text-shadow: 1px 1px 5px #000000 ">{{player.player.nationalShirtName|title}}</p>                                        
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="position: relative">
                                {% for player in lineup.awayTeam.field %}
                                    <div data-bs-toggle="tooltip" title="<div class='img-tool'><img src='{{player.player.imageUrl}}' alt='Image' width='100' height='100'><br>Name: {{player.player.internationalName}}<br>Position: {{player.player.fieldPosition|title}} {{player.player.detailedFieldPosition|title}}<br>Age: {{player.player.age}}</div>" data-bs-placement="right" data-bs-html="true" style="position: absolute; top:{{1000|sub:player.fieldCoordinate.y|div:10}}%; left:{{1000|sub:player.fieldCoordinate.x|div:10}}%; transform: translate(-50%, -60%);">
                                        <div data-goal="0" data-card="0" id="player_{{player.player.id}}" style="position: relative; width: max-content; margin: auto;">
                                            <img src="{{lineup.awayTeam.kitImageUrl}}" style="height: 1.75rem">
                                            <p style="color: {{ lineup.awayTeam.textColor }}; margin-bottom: 0; position: absolute; top: 20%; left: 50%; transform: translate(-50%); font-size: 13px; font-weight: 600; text-shadow: 1px 0 {{ lineup.awayTeam.shirtColor }}, -1px 0 {{ lineup.awayTeam.shirtColor }}, 0 1px {{ lineup.awayTeam.shirtColor }}, 0 -1px {{ lineup.awayTeam.shirtColor }}, 1px 1px {{ lineup.awayTeam.shirtColor }}, -1px -1px {{ lineup.awayTeam.shirtColor }}, 1px -1px {{ lineup.awayTeam.shirtColor }}, -1px 1px {{ lineup.awayTeam.shirtColor }}; ">{{player.jerseyNumber}}</p>
                                            {% if player.type == "CAPTAIN" or player.type == "GOALKEEPER_CAPTAIN" %}
                                                <div class="captain"></div>
                                            {% endif %}
                                        </div>
                                        <p style="font-size: small; color: white; margin-bottom: 0; text-shadow: 1px 1px 5px #000000 ">{{player.player.nationalShirtName|title}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; background: #518a58; padding: 0.5rem; justify-content: flex-end;">
                        <div style="text-align: right; color: #ffffff">
                            <p style="margin-right: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.awayTeam.team.internationalName }}</p>
                            <p style="margin-right: 10px; font-size: medium;  margin-bottom: 0; font-weight: 100";>Coach: 
                                {% with first_coach=lineup.awayTeam.coaches|first %}
                                    {{ first_coach.person.translations.name.EN }}
                                {% endwith %}
                            </p>
                        </div>
                        <img src="{{lineup.awayTeam.team.logoUrl}}" style="height: 3rem" alt="logo">
                    </div> 
                </div>
                <h3 style="text-align: left; margin-top: 1rem">Substitutions</h3>
                <div class="row">
                    <div class="col">
                        <div style="text-align: left; display: flex; align-items: center;">
                            <img src="{{lineup.homeTeam.team.logoUrl}}" style="height: 2rem" alt="logo">
                            <span style="margin-left: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.homeTeam.team.internationalName }}</span>
                        </div>
                        {% for player in lineup.homeTeam.bench %}
                            <div data-bs-toggle="tooltip" title="<div class='img-tool'><img src='{{player.player.imageUrl}}' alt='Image' width='100' height='100'><br>Name: {{player.player.internationalName}}<br>Position: {{player.player.fieldPosition|title}} {{player.player.detailedFieldPosition|title}}<br>Age: {{player.player.age}}</div>" data-bs-placement="top" data-bs-html="true" style="display: flex; align-items: center; margin: 1rem 0 1rem 0">
                                <div data-goal="0" data-card="0" id="player_{{player.player.id}}" style="position: relative">
                                    <img src="{{lineup.homeTeam.kitImageUrl}}" style="height: 2rem; filter: drop-shadow(0px 2px 5px #000000);">
                                    <p style="color: {{ lineup.homeTeam.textColor }}; margin-bottom: 0; position: absolute; top: 20%; left: 50%; transform: translate(-50%); font-size: 13px; font-weight: 600;  text-shadow: 1px 0 {{ lineup.homeTeam.shirtColor }}, -1px 0 {{ lineup.homeTeam.shirtColor }}, 0 1px {{ lineup.homeTeam.shirtColor }}, 0 -1px {{ lineup.homeTeam.shirtColor }}, 1px 1px {{ lineup.homeTeam.shirtColor }}, -1px -1px {{ lineup.homeTeam.shirtColor }}, 1px -1px {{ lineup.homeTeam.shirtColor }}, -1px 1px {{ lineup.homeTeam.shirtColor }}; ">{{player.jerseyNumber}}</p>
                                </div>
                                <p style="margin-left: 10px; font-size: medium; margin-bottom: 0;">
                                    {{player.player.nationalShirtName|title}}
                                    {% if player.type == 'GOALKEEPER' %}
                                        (GK)
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <div style="text-align: left; display: flex; align-items: center;">
                            <img src="{{lineup.awayTeam.team.logoUrl}}" style="height: 2rem" alt="logo">
                            <span style="margin-left: 10px; font-size: x-large; margin-bottom: 0">{{ lineup.awayTeam.team.internationalName }}</span>
                        </div>
                        {% for player in lineup.awayTeam.bench %}
                            <div data-bs-toggle="tooltip" title="<div class='img-tool'><img src='{{player.player.imageUrl}}' alt='Image' width='100' height='100'><br>Name: {{player.player.internationalName}}<br>Position: {{player.player.fieldPosition|title}} {{player.player.detailedFieldPosition|title}}<br>Age: {{player.player.age}}</div>" data-bs-placement="top" data-bs-html="true" style="display: flex; align-items: center; margin: 1rem 0 1rem 0">
                                <div data-goal="0" data-card="0" id="player_{{player.player.id}}" style="position: relative">
                                    <img src="{{lineup.awayTeam.kitImageUrl}}" style="height: 2rem; filter: drop-shadow(0px 2px 5px #000000);">
                                    <p style="color: {{ lineup.awayTeam.textColor }}; margin-bottom: 0; position: absolute; top: 20%; left: 50%; transform: translate(-50%); font-size: 13px; font-weight: 600;  text-shadow: 1px 0 {{ lineup.awayTeam.shirtColor }}, -1px 0 {{ lineup.awayTeam.shirtColor }}, 0 1px {{ lineup.awayTeam.shirtColor }}, 0 -1px {{ lineup.awayTeam.shirtColor }}, 1px 1px {{ lineup.awayTeam.shirtColor }}, -1px -1px {{ lineup.awayTeam.shirtColor }}, 1px -1px {{ lineup.awayTeam.shirtColor }}, -1px 1px {{ lineup.awayTeam.shirtColor }}; ">{{player.jerseyNumber}}</p>
                                </div>
                                <p style="margin-left: 10px; font-size: medium; margin-bottom: 0;">
                                    {{player.player.nationalShirtName|title}}
                                    {% if player.type == 'GOALKEEPER' %}
                                        (GK)
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="display: flex; margin-top: 3rem; justify-content: center">
                    <div style="">
                        <p style="margin-bottom: 0.5rem; color: whitesmoke">{{match.stadium.city.translations.name.EN}} - {{match.stadium.address}}</p>
                        <img src="{{match.stadium.images.MEDIUM_WIDE}}" style="max-height: 12rem;">
                    </div>
                    {% if match.condition %}
                    <div style="border-left: solid 1px lightgrey;
                                margin-left: 3rem;
                                padding-left: 1rem;
                                display: flex;
                                align-items: center;">
                        <div style="font-size: 5rem; font-family: monospace;">{{match.condition.temperature}}&deg;</div>
                        <div style="margin-left: 0.75rem; text-align: left; color: #d4d4d4;">
                            <p><b>{{match.condition.translations.weatherConditionName.EN|title}}</b></p>
                            <p>The pitch is {{match.condition.pitchCondition|lower}}</p>
                            <p>Humidity: {{match.condition.humidity}}%</p>
                            <p>Wind: {{match.condition.windSpeed}}km/h</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                   
                        <p style="margin-bottom: 0; margin-top: 2rem; color: grey; font-size: 14px; text-decoration: underline">{{match.kickOffTime.dateTime}}</p>
                        <p style="margin-bottom: 0.5rem;">{{match.group.metaData.groupName}}</p>
                    <div class="row">
                        <div class="col-5" style="display: flex; justify-content: flex-end; font-size: xxx-large; align-items: center">
                            <p style="margin-bottom: 0">{{match.homeTeam.internationalName}}</p>
                            <img src="{{match.homeTeam.logoUrl}}" style="height: 3rem; margin: 0 0 0 0.5rem">
                        </div> 
                        {% if match.status == 'LIVE' %}
                            <div class="col-2" style="display: flex; justify-content: center; padding: 0;">
                                <div style="padding: 0 0.75rem 0 0.75rem; background: #be8b00; font-size: xxx-large; align-content: center; border-radius: 1rem; font-weight: 600; width: max-content;">
                                    {{match.score.total.home}} - {{match.score.total.away}} </div>
                            </div> 
                        {% elif match.status == 'UPCOMING' %}
                        <div class="col-2" style="display: flex; justify-content: center; padding: 0;">
                            <div style="padding: 0 0.75rem 0 0.75rem; background: #be8b00; font-size: xxx-large; align-content: center; border-radius: 1rem; font-weight: 600; width: max-content;">
                                0 - 0 </div>
                        </div> 
                        {% elif match.status == 'FINISHED' %}
                        <div class="col-2" style="display: flex; justify-content: center; padding: 0;">
                            <div style="padding: 0 0.75rem 0 0.75rem; background: #be8b00; font-size: xxx-large; align-content: center; border-radius: 1rem; font-weight: 600; width: max-content;">
                                {{match.score.total.home}} - {{match.score.total.away}} </div>
                        </div> 
                        {% endif %} 
                        <div class="col-5" style="display: flex; justify-content: flex-start; font-size: xxx-large; align-items: center">
                            <img src="{{match.awayTeam.logoUrl}}" style="height: 3rem; margin: 0 0.5rem 0 0">
                            <p style="margin-bottom: 0">{{match.awayTeam.internationalName}}</p>
                        </div> 
                    </div>
                    
                    {% if match.status == 'LIVE' %}
                        {% if match.phase == 'HALF_TIME_BREAK' %}
                            <p style="margin-bottom: 1rem; margin-top: 0.5rem; color: green">Half time</p>
                        {% else %}
                            {% if match.minute.injury %}
                                <p style="margin-bottom: 1rem; margin-top: 0.5rem; color: green">{{match.minute.normal}}'+{{match.minute.injury}}'</p>
                            {% else %}
                                <p style="margin-bottom: 1rem; margin-top: 0.5rem; color: green">{{match.minute.normal}}'</p>
                            {% endif %} 
                        {% endif %} 
                    {% elif match.status == 'UPCOMING' %}
                        <p style="margin-bottom: 1rem; margin-top: 0.5rem; color: green">Lines up</p>
                    {% elif match.status == 'FINISHED' %}
                        <p style="margin-bottom: 1rem; margin-top: 0.5rem; color: green">Full time</p>
                    {% endif %} 
                    {% for event in match.playerEvents.scorers %}
                        <div class="row">
                            {% if event.teamId == match.homeTeam.id %}   
                                <div class="col" style="text-align: right">
                                    {% if event.goalType == "SCORED" %}
                                        {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}' 
                                            {% if event.time.injuryMinute %}
                                                + {{event.time.injuryMinute}}'
                                            {% endif %}
                                        </span>
                                    {% elif event.goalType == "PENALTY" %}
                                        {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}'  {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %} (p) </span>
                                    {% endif %}
                                </div> 
                                <div class="col-1">
                                    <svg style="height: 1.5rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="pk-svg__icon pk-svg__icon--product" part="svg"><path fill="#3C3C3C" fill-rule="evenodd" d="M9.2 10.68l2.212-1.608a1 1 0 011.176 0l2.213 1.609a1 1 0 01.363 1.117l-.846 2.605a1 1 0 01-.95.69h-2.735a1 1 0 01-.951-.69l-.846-2.605a1 1 0 01.363-1.117zM12 21.002c-4.963 0-9.001-4.038-9.001-9.001 0-4.963 4.038-9.001 9.001-9.001 4.963 0 9.001 4.038 9.001 9.001 0 4.963-4.038 9.001-9.001 9.001zm0-1.501c-.68 0-1.337-.091-1.963-.26L8.85 17.05a1 1 0 00-.698-.507l-2.433-.45a7.453 7.453 0 01-1.211-3.756l1.697-1.786a1 1 0 00.266-.82l-.32-2.42A7.534 7.534 0 019.37 4.975l2.2 1.051a1 1 0 00.862 0l2.2-1.05a7.534 7.534 0 013.218 2.333l-.32 2.42a1 1 0 00.266.82l1.697 1.787a7.453 7.453 0 01-1.21 3.756l-2.434.45a1 1 0 00-.698.507l-1.187 2.19c-.626.169-1.284.26-1.963.26z" clip-rule="evenodd"></path></svg>
                                </div> 
                                <div class="col" style="text-align: left">
                                    {% if event.goalType == "OWN" %}
                                        {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}'  {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %}  (og) </span>
                                    {% endif %}
                                </div> 
                            {% elif event.teamId == match.awayTeam.id %}
                                <div class="col" style="text-align: right">
                                    {% if event.goalType == "OWN" %}
                                        {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}'  {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %}(og) </span>
                                    {% endif %}
                                </div> 
                                <div class="col-1">
                                    <svg style="height: 1.5rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="pk-svg__icon pk-svg__icon--product" part="svg"><path fill="#3C3C3C" fill-rule="evenodd" d="M9.2 10.68l2.212-1.608a1 1 0 011.176 0l2.213 1.609a1 1 0 01.363 1.117l-.846 2.605a1 1 0 01-.95.69h-2.735a1 1 0 01-.951-.69l-.846-2.605a1 1 0 01.363-1.117zM12 21.002c-4.963 0-9.001-4.038-9.001-9.001 0-4.963 4.038-9.001 9.001-9.001 4.963 0 9.001 4.038 9.001 9.001 0 4.963-4.038 9.001-9.001 9.001zm0-1.501c-.68 0-1.337-.091-1.963-.26L8.85 17.05a1 1 0 00-.698-.507l-2.433-.45a7.453 7.453 0 01-1.211-3.756l1.697-1.786a1 1 0 00.266-.82l-.32-2.42A7.534 7.534 0 019.37 4.975l2.2 1.051a1 1 0 00.862 0l2.2-1.05a7.534 7.534 0 013.218 2.333l-.32 2.42a1 1 0 00.266.82l1.697 1.787a7.453 7.453 0 01-1.21 3.756l-2.434.45a1 1 0 00-.698.507l-1.187 2.19c-.626.169-1.284.26-1.963.26z" clip-rule="evenodd"></path></svg>
                                </div> 
                                <div class="col" style="text-align: left">
                                    {% if event.goalType == "SCORED" %}
                                        {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}' {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %}  </span>
                                    {% elif event.goalType == "PENALTY" %}
                                         {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}'  {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %}(p) </span>
                                    {% endif %}
                                </div> 
                            {% endif %}
                        </div>
                        
                    {% endfor %}
                    {% for event in match.playerEvents.redCards %}
                        <div class="row">
                            {% if event.teamId == match.homeTeam.id %}   
                                <div class="col" style="text-align: right">
                                    {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}' 
                                        {% if event.time.injuryMinute %}
                                            + {{event.time.injuryMinute}}'
                                        {% endif %}
                                    </span>
                                </div> 
                                <div class="col-1">
                                    <svg style="height: 1.5rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="pk-svg__icon pk-svg__icon--product" part="svg"><path fill="red" d="M5 3a1 1 0 011-1h12a1 1 0 011 1v18a1 1 0 01-1 1H6a1 1 0 01-1-1V3z"></path></svg>                                </div> 
                                <div class="col" style="text-align: left">
                                   
                                </div> 
                            {% elif event.teamId == match.awayTeam.id %}
                                <div class="col" style="text-align: right">
       
                                </div> 
                                <div class="col-1">
                                    <svg style="height: 1.5rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="pk-svg__icon pk-svg__icon--product" part="svg"><path fill="red" d="M5 3a1 1 0 011-1h12a1 1 0 011 1v18a1 1 0 01-1 1H6a1 1 0 01-1-1V3z"></path></svg>                                </div> 
                                <div class="col" style="text-align: left">
                                    {{event.player.nationalShirtName}} <span style="color: grey">{{event.time.minute}}' </span>
                                </div> 
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div style="border-top: solid 1px #d6d6d6; width: 100%; margin: 3rem 0 2rem 0"></div>
                    
                        {% if match.playerOfTheMatch %}
                            <div style="background: #362222;
                                padding: 1rem;
                                border-radius: 1rem;
                                margin-bottom: 2rem">
                                    <div style="display: flex; justify-content: space-between">
                                        <h3 style="text-align: left; font-weight: 600; color: white">Player of the Match</h3>
                                        <div style="color: #ffffffbd">
                                            Presented by  <img class="vivo" src="https://img.uefa.com/imgml/uefacom/sponsors/team/Vivo.png?imwidth=700 " style="height: 2rem;">
                                        </div>
                                    </div>
                                    <div style="position: relative">
                                        <img src="{{match.playerOfTheMatch.player.imageUrl}}" style="height: 10rem; border: solid 3px grey; border-radius: 5rem;">
                                        {% if match.playerOfTheMatch.teamId == match.homeTeam.id %}
                                            <img src="{{match.homeTeam.logoUrl}}" style="position: absolute;
                                            height: 3rem;
                                            border-radius: 1.5rem;
                                            bottom: 0;
                                            left: 54%;">
                                        {% else %}
                                            <img src="{{match.awayTeam.logoUrl}}" style="position: absolute;
                                            height: 3rem;
                                            border-radius: 1.5rem;
                                            bottom: 0;
                                            left: 54%;">
                                        {% endif %}
                                       
                                    </div>
                                    <p style="color: white; margin-bottom: 0; font-size: 25px; margin-top: 0.5rem">{{match.playerOfTheMatch.player.internationalName}}</p>
                                    <p style="color: white; font-size: 16px; font-weight: 200">{{match.playerOfTheMatch.player.translations.countryName.EN}}</p>
                                <div class="row">
                                    {% for stat in playerOfMatch.statistics %}
                                        <div class="col-6">
                                            <div style="display: flex; justify-content: space-between; color: white; border-bottom: solid 0.75px #ffffff6b; align-items: center; padding: 0.5rem 0 0.5rem 0">
                                                <p style="font-size: 20px; margin-bottom: 0; color: #ffffffad">{{stat.translations.name.EN}}</p>
                                                <p style="font-size: 25px; font-weight: 500; margin-bottom: 0">{{stat.value}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div style="
                        padding: 1rem;
                        border-radius: 1rem;
                        background: #cacaca42">
                            <div class="row" style="font-size: 20px; display: flex; justify-content: center; align-items: center;">
                                <div class="col-4" style="font-size: 30px">
                                    &#20;&#20;{{match.homeTeam.iconHtml}}
                                </div>
                                <div class="col-4" style="border-bottom: solid 0.5px #c2c2c252">
                                    <b>TEAM STATS</b>
                                </div>
                                <div class="col-4" style="font-size: 30px">
                                    {{match.awayTeam.iconHtml}}&#20;&#20;
                                </div>
                            </div>
                            {% for stat in matchStat%}
                            <div class="row" style="margin: 0.75rem 0 0.75rem 0; display: flex; justify-content: center; align-items: center;">
                                <div class="col-4">
                                    {{stat.homeTeamValue}}
                                </div>
                                <div class="col-4">
                                    {{stat.nameDisplay}}
                                </div>
                                <div class="col-4">
                                    {{stat.awayTeamValue}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>

            </div>
            {% elif lineup.lineupStatus == 'NOT_AVAILABLE' %}
                <p style="font-size: xx-large; font-weight: 600;">Coming soon</p>
            {% else %}
                
            {% endif %}     
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
              html: true
            });
          });
        });


        {% for event in eventLineup %}
            if ("{{event.type}}" == "SUBSTITUTION"){
                document.getElementById("player_{{event.primaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="triangle-down"></div>`);
                document.getElementById("player_{{event.secondaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="triangle-up"></div>`);
            } else if ("{{event.type}}" == "YELLOW_CARD") {
                if ("{{event.primaryActor.type}}" == "PLAYER") {
                    var card_{{event.id|slice:8}} = parseInt(document.getElementById("player_{{event.primaryActor.person.id}}").getAttribute("data-card"));
                    document.getElementById("player_{{event.primaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="yellow-card" style="left: ${75 + card_{{event.id|slice:8}}*20}%"></div>`);
                    document.getElementById("player_{{event.primaryActor.person.id}}").setAttribute("data-card", card_{{event.id|slice:8}}  + 1);
                }
            }   else if ("{{event.type}}" == "RED_CARD") {
                if ("{{event.primaryActor.type}}" == "PLAYER") {
                    var card_{{event.id|slice:8}} = parseInt(document.getElementById("player_{{event.primaryActor.person.id}}").getAttribute("data-card"));
                    document.getElementById("player_{{event.primaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="red-card" style="left: ${75 + card_{{event.id|slice:8}}*20}%"></div>`);
                    document.getElementById("player_{{event.primaryActor.person.id}}").setAttribute("data-card", card_{{event.id|slice:8}}  + 1);
                }
            } else if ("{{event.type}}" == "GOAL") {
                var goal_{{event.id|slice:8}} = parseInt(document.getElementById("player_{{event.primaryActor.person.id}}").getAttribute("data-goal"));
                if ("{{event.subType}}" == "OWN") {
                    document.getElementById("player_{{event.primaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="goal" style="right: ${75 + goal_{{event.id|slice:8}}*20}%"><img style="width: 10px" src="https://i.ibb.co/KhbYPSj/football-3.png"></div>`);
                } else {
                    document.getElementById("player_{{event.primaryActor.person.id}}").insertAdjacentHTML("beforeend",`<div class="goal" style="right: ${75 + goal_{{event.id|slice:8}}*20}%"><img style="width: 10px" src="https://i.ibb.co/Mh4XgyY/football-1.png"></div>`);
                }
                document.getElementById("player_{{event.primaryActor.person.id}}").setAttribute("data-goal", goal_{{event.id|slice:8}}  + 1);
            }
        {% endfor %}
      </script>
       
{% endblock %}